<h2> Alphabetized Customers</h2>

<ul class="ml-5">
  <li><a href="<%= customers_path %>">Customer List</a></li>
  <li><a href="<%= missing_email_customers_path %>">List of customers with no email</a></li>
</ul>

<ol class="ml-5">
  <%= render @ordered_customers %>
</ol>