<h2>Customers without Email</h2>

<ul class="ml-5">
  <li><a href="<%= alphabetized_customers_path %>">Alphabetized List</a></li>
  <li><a href="<%= customers_path %>">List of customers</a></li>
</ul>

<ol class="ml-5">
  <%= render @no_email %>
</ol>